*.class
*.jar
*jar
.lein-deps-sum
.lein-failures
.lein-plugins
.lein-repl-history
.nrepl-port
/checkouts
/classes
/classes/
/lib
/lib/
/target
/targets/
/tmp
domina_conf.clj
domina_conf.yml
pom.xml
pom.xml.asc
